
body, h1, h2, h3, h4, h5, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none; 
}


body {
    font-family: 'Times New Roman', serif; 
    line-height: 1.6;
    color: white; 
}


.navbar {
    background: transparent; 
    padding: 15px 0; 
    text-align: center; 
}

.navbar a {
    color:white; 
    padding: 10px 15px; 
    margin: 0 10px; 
    transition: background 0.3s; 
}

.navbar a:hover {
    background: #0056b3; 
    border-radius: 5px; 
}


.container {
    max-width: 800px; 
    margin: 20px auto; 
    padding: 20px; 
    background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
}


h1 {
    color: #007BFF; 
    margin-bottom: 20px; 
    text-align: center; 
}

h2, h3, h4, h5 {
    margin: 15px 0; 
    color: palevioletred; 
}


p {
    margin-bottom: 15px; 
}


ul {
    margin-left: 20px; 
}

li {
    margin-bottom: 10px; 
}


@media (max-width: 600px) {
    .navbar {
        flex-direction: column; 
    }
    .navbar a {
        margin: 5px 0; 
    }
    .container {
        padding: 15px; 
    }
}


.home-bg {
    background: url('home1.jpg') no-repeat center center fixed;
    background-size: cover;
}

.about-bg {
    background: url('about2.jpg') no-repeat center center fixed;
    background-size: cover;
}

.departments-bg {
    background: url('departments1.jpg') no-repeat center center fixed;
    background-size: cover;
}

.services-bg {
    background: url('services1.jpg') no-repeat center center fixed;
    background-size: cover;
}


